.container {
    margin: 0 1.8rem;
    margin-left: 260px;
    color: #515151;
    display: flex;
    flex-direction: column;
  
    hr {
      border-top: 3px solid rgb(85, 105, 132);
      width: 100px;
    }
  
    p {
      line-height: 1.5rem;
    }
  
    .textCenter {
      text-align: center;
    }
  
    .interviewBlock {
      line-height: 1.5rem;
      float: left;
  
      h1 {
        line-height: 2.3rem;
  
      }
    }
    h1{
        font-size:2em;
      }
    .faqBlock {
      line-height: 1.5rem;
      float: left;

  
      ol {
        padding: 0 1.5rem;
      }
    }
  
    li {
      margin-bottom: 10px
    }
  
    .interviewRounds {
      scroll-margin-top: 1.3rem;
      margin-top: 1.5rem;
  
      ol {
        padding: 0 1.5rem;
      }
    }
  
    .interviewProcess {
      scroll-margin-top: 1.3rem;
  
      ol {
        padding: 0 1.5rem;
      }
    }
  
    .about {
      scroll-margin-top: 4.3rem;
    }
  
  }
  
 
  
  .title {
    margin-bottom: 1.5rem
  }
  
  a.button7 {
    display: inline-block;
    padding: 1.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
  }
  
  a.button7:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  }
  
  @media all and (max-width:30em) {
    a.button7 {
      display: block;
      margin: 0.4em auto;
    }
  }
  .flexCenter{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  .button{
  font-size:4em;
  font-family:'Comic Sans MS';
  border-right:1px solid rgba(255, 255, 255, 0.5);
  padding-right:0.3em;
  margin-right:0.3em;
  vertical-align:middle;
  display: flex;
  justify-content: center;
}