
 
.landing{
    background-color: #181A1B;
    color:#DBDBEA
}
.codeEditor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    min-width: calc(100vh - 100px);
    max-height: 700px;

}

.topBar {
    background-image: linear-gradient(to bottom right, #69008C, #8500B2, #A300D9);
    width: 100%;
    height: 1rem;

}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
        padding: 4px 5px;

    }
}

.output {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 20%;

    .customInput {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        display: none;
    }
    .outputWindow {
        display: none;
    }
}

.questionContainer {
    min-width: 300px;
    max-width: 650px;
    height: 845px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #B9B9C8;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
}



.editorWindow {
    overflow-x: hidden;
    overflow-y: hidden;

    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
.monaco-editor{
    padding-top:20px
}
}

.container {
    display: flex;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    flex-direction: row;
    align-items: flex-start;
    gap:0.5%
    
}

.outputDetails {
    display: flex;
    margin-top: 1rem;
    margin-top: 0.75rem;
    margin-top: 0.875rem;
    flex-direction: column;

    p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    span {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: black;
        font-weight: 600;
        border-radius: 0.375rem;
    }
}

.errorRed {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #EF4444;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
}

.errorGreen {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #10B981;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
}

.outputScreen {
    overflow-y: auto;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    width: 100%;
    height: 14rem;
    border-radius: 0.375rem;
    background: #1e293b;
}

.customInput {
    z-index: 10;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #000000;
    outline: 0;
//     height: 0;
//     visibility: hidden;
}

.handleCompile {
    z-index: 10;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    background-color: #B9B9C8;
    font-weight: 500;
    font-size: 0.9rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    flex-shrink: 0;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #000000;
    color: hsl(0, 0%, 20%);

}

