.sel-pnl-re{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    border: solid 1px #ba4350;
    border-radius: 8px;
    padding: 0px !important;
    min-height: unset;

    .tile-8{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(12.5% - 0px);
        height: 64px;
        position: relative;
        border-left: solid 1px #ba4350;
        margin: 12px 0px 12px;
    }

    .tile-8:first-child{
        border: none;
    }

    .selection-panel-img{
        width: 32px;
        height: auto;
        position: relative;
    }

    .selection-panel-text{
        font-size: 14px;
        font-family: Montserrat-Light !important;
        margin-top: 12px;
        line-height: 19.6px;
        color: #2E2D42;
    }
}

