.imageOrientation{
    border-radius: 16px;
    height: 100%;
}
.bannerPanel{
   
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 49px;
    width: calc(100vw - 98px);
}