.framesTitleHeading{
    display: flex;
    justify-content: space-between;
}

.frameHeaderTileContainer{
    padding: 0px 16px;
    margin-top: 16px;
}

.frameHeaderTileContainer.frameMargin{
    margin-top: 32px;
}

.frameHeadingContainer{
    display: flex; 
    justify-content: space-between;
}
.framesTilesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin-top: 16px;
}
.framesTilesContainer[data-framestiles="6"],.framesTilesContainer[data-framestiles="5"]{
    grid-template-rows: repeat(3,1fr);
}

.framesTilesContainer[data-framestiles="6"] > * , .framesTilesContainer[data-framestiles="5"] > *{
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}
.framesTilesContainer[data-framestiles="4"] > *{
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.framesTilesContainer[data-framestiles="6"] > *:nth-of-type(1) , .framesTilesContainer[data-framestiles="5"] > *:nth-of-type(1){
    grid-row: 1 / 2;
}

.framesTilesContainer[data-framestiles="6"] > *:nth-of-type(2) , .framesTilesContainer[data-framestiles="5"] > *:nth-of-type(2){
    grid-row: 1 / 3;
    aspect-ratio: 2 / 3;
}

.framesTilesContainer[data-framestiles="6"] > *:nth-of-type(3) , .framesTilesContainer[data-framestiles="5"] > *:nth-of-type(3){
    grid-row: 2 / 4;
    aspect-ratio: 2 / 3;
}

.framesTilesContainer[data-framestiles="5"] > *:nth-of-type(5){
    grid-column: 1 / -1;
    aspect-ratio: 3 / 1;
}

.framesTilesContainer[data-framestiles="3"] > *{
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.framesTilesContainer[data-framestiles="3"] > *:nth-of-type(1){
    aspect-ratio: 2 / 1;
    grid-column: 1 / -1;
}