.productCard{
  display: flex;
  flex-direction: column;
  border: solid 1px #cbd5e1;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  width: calc(50vw - 12px);
  margin-top: 16px;
  position: relative;
}

.shortlist{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2em;
  height: 2em;
  opacity: 0.75;
  background-color: #fff;
  border-bottom-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 100%;
  height: auto;
}

.productInfo{
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  margin: 8px 0px 12px;
}

.productInfoRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}

.productName{
  font-size: 14px !important;
  font-weight: 500;
  line-height: 1.4;
  height: 21px;
  font-family: Montserrat-Semibold !important;
  color: #2e2d42;
  opacity: 0.5;
  overflow: hidden;
}

.productPrice{
  font-size: 16px;
  font-weight: 400;
  font-family: Montserrat-Semibold;
  line-height: 21px;
  color: #222;  
}

.discountedPrice{
  font-size: 14px;
  color: #bdbdbd;
  margin-left: 4px;
  text-decoration: line-through;
}

.discount{
  font-size: 12px;
  font-weight: 400;
  font-family: Montserrat-Semibold;
  line-height: 21px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top,#3eb4a6,#3eb4a6,#7b61ff);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #2e8cae;
  background-color: #fff;
  padding: 2px 6px;
  margin-left: 4px;
}

.rating{
  font-size: 12px;
  color: #878787;
  height: 16px;
}

.fullstar{
  display: unset;
  margin-left: 4px;
}

.reviews{
  margin-left: 4px;
  font-size: 12px;
  color: #878787;
  height: 16px;
}